# Quarto rendering and execution caches
/.quarto/

# Local RStudio state and user files
/.Rproj.user
.Rhistory
.RData
.RDataTmp
.Ruserdata

# Operating system artifacts
.DS_Store
Thumbs.db

**/*.quarto_ipynb
